<div class="input">
    <input class="input__input" autocomplete="off" type="{{type}}" name="{{name}}" placeholder=" " value="{{defaultValue}}" {{disable}}>
    <label class="input__label">{{label}}</label>
</div>
